@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #2E653E;
    --secondary: #578A68;
    --darker: #163E24;
    --borderline: #ECECEC;
}

* {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 5px;
    display: none;
}

button {
    border: none;
    background: none;
}

button:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

form {
    height: max-content;
}

input {
    border: none;
}

.brand {
    font-weight: bold;
    color: var(--darker);
}

.flex {
    display: flex;
    align-items: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-left: 30px;
    margin-right: 30px;
}


/* /////////////////////////////////////////// */
/* Navbar */
/* ////////////////////////////////////////// */

nav {
    width: 100vw;
    background-color: var(--primary);
    position: fixed;
    z-index: 2;
    height: 70px;
    overflow-y: hidden;
}

nav .brand {
    font-size: 26px;
    color: white;
}

.brand img {
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 5px;
}

nav ul {
    margin-left: auto;
    margin-right: 40px;
    width: 25%;
    justify-content: space-between;
}

nav li {
    padding: 3px 0;
}

nav a, nav button {
    color: white;
}

.active, nav li:hover {
    font-weight: bold;
    border-bottom: 2px solid var(--borderline);
}

nav li:hover .active {
    border-bottom: 0 solid transparent;
}

.btnLogout {
    border-radius: 20px;
    font-size: 16px;
    background: transparent;
    padding: 7px 32px;
    border: 1px solid var(--borderline);
    margin-right: 40px;
    transition: 0.3s;
}

.btnLogout:hover, .btnSearch:hover {
    transform: scale(0.9);
    background-color: var(--secondary);
}


/* //////////////////////////////////////////// */
/* Hero */
/* /////////////////////////////////////////// */

.hero {
    margin-top: 100px;
    align-items: flex-start;
    margin-bottom: 100px;
}

.heroImg {
    width: 50%;
}

.heroImg img {
    margin-left: 100px;
}

.textHero {
    width: 50%;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: auto;
}

.textHero h1 span {
    color: var(--darker);
}

.textHero h1 {
    font-size: 50px;
    line-height: 60px;
    width: auto;
    overflow-y: hidden;
    margin-bottom: -15px;
}

.textHero h6 {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    width: 73%;
}

.searchBox {
    width: 60%;
    border-radius: 25px;
    padding: 0;
    border: 2px solid var(--darker);
    overflow-y: hidden;
}

.searchBox input {
    padding: 8px;
    margin-left: 10px;
    padding-right: 0;
    width: 85%;
}

.btnSearch {
    height: 44px;
    width: 15%;
    border-radius: 25px;
    margin: 2px;
    background-color: var(--darker);
}

.decore img {
    position: absolute; 
    z-index: -1;
    width: 50px;
    height: 50px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.decore .decore1 {
   right: 90px; 
   top: 170px;
}

.decore .decore2 {
    right: 45px; 
    top: 330px; 
    transform: rotate(-15deg);
}

.decore .decore3 {
    right: 140px; 
    top: 480px; 
    transform: rotate(6deg);
}


/* /////////////////////////////////////////// */
/* Why should OiKitchen? */
/* /////////////////////////////////////////// */

#advantages {
    margin-top: 100px;
}

#advantages .flex {
    justify-content: space-between;
}

#advantages h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.advContent {
    width: 50%;
    margin-left: 55px;
    margin-bottom: auto;
}

.advContent ul {
    padding: 0;
}

.advImg {
    width: 50%;
    height: auto;
    overflow-y: hidden;
    padding: 20px;
}

.advImg img {
    width: 90%;
    height: 100%;
    max-height: 115vh;
    border-radius: 30px;
    margin-left: 40px;
}

.listAdv {
    width: 90%;
    height: max-content;
    margin-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.listAdv img {
    margin-right: 30px;
    width: 100%;
    max-width: 90px;
    margin-top: 10px;
    margin-bottom: auto;
    background-color: rgba(243, 243, 243, 0.932);
    padding: 10px;
    border-radius: 24px 0 24px 24px;
}

.listAdvItem {
    width: 80%;
}

.listAdvItem h4 {
    border-bottom: 2px solid var(--darker);
    width: fit-content;
    padding-right: 20px;
    margin-top: 0;
}

/* ////////////////////////////////////////// */
/* How to order */
/* ////////////////////////////////////////// */

#order {
   margin-top: 70px;
   margin-bottom: 50px;
}

#order h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.order {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.order span {
    color: var(--primary);
}

.orderItem {
    text-align: center;
    padding: 10px;
}

.orderItem img {
    height: 220px;
    width: 220px;
    /* background-color: var(--borderline); */
}

.orderArrow {
    width: 55px;
    height: 35px;
    margin: auto;
    background-color: var(--primary);
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
    position: relative;
    animation-name: arrow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.5);
        background-color: var(--darker);
    }

    50% {
        transform: scale(1);
        background-color: var(--primary);
    }

    75% {
        transform: scale(1.5);
        background-color: var(--darker);
    }

    100% {
        transform: scale(1);
    }
}


/* ///////////////////////////////////////////// */
/* Menu Categories */
/* //////////////////////////////////////////// */

#categories {
    margin: 0 50px 50px 50px;
}

#categories h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

#categories .flex {
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.categoriesCard {
    width: 450px;
    height: 350px;
    border-radius: 0 36px 0 36px;
    transition: 0.3s;
    background-color: var(--borderline);
    margin: 10px;
    overflow-y: hidden;
    padding: 2% 1%;
    text-align: center;
}

.categoriesCard .cover {
    height: 56%;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--primary);
    margin-top: 4px;
    overflow-y: hidden;
    justify-content: space-around;
}

.categoriesCard .cover img {
    width: 200px;
    height: 100%;
    border-radius: 12px 12px 0 0;
    border: 2px solid var(--primary);
}

.categoriesCard h3, .categoriesCard h5 {
    margin: 5px;
    color: var(--darker);
}

.categoriesCard h5 {
    font-weight: normal;
}

.categoriesCard a button, #banner a button {
    margin-top: 20px;
    padding: 10px 22px;
    border-radius: 6px;
    margin-bottom: 0;
    background-color: var(--darker);
    color: white;
    transition: 0.3s;
    width: 40%;
}

.categoriesCard a:hover button, #banner a:hover button  {
    background-color: var(--primary);
    transform: scale(1.1);
    transition: 0.3s;
    font-weight: bold;
}


/* //////////////////////////////////////// */
/* Banner */
/* /////////////////////////////////////// */

#banner {
    width: 100%;
    height: max-content;
    padding: auto;
    margin: 100px 0;
    position: relative;
    animation-name: banner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes banner {
    0% {
        background-color: #92B396; 
    }
    50% {
        background-color: #578A68;
        transform: scale(1.01);
    }
    100% {
        background-color: #92B396;
    }
}

.bannerLeft img {
    height: 400px;
    width: 400px;
    margin-bottom: 10px;
    border-radius: 100px;
    box-shadow: 0 0 9px 6px rgba(83, 81, 81, 0.5);
}

.bannerLeft {
    padding: 2%;
    text-align: center;
    padding-left: auto;
    width: 50%
}

.bannerLeft h2 {
    margin: 0;
    color: white;
    font-size: 32px;
}

.discount {
    background-color: rgb(192, 2, 2);
    color: white;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 50px;
    position: relative;
}

.bannerRight {
    width: 500px;
    background-color: var(--borderline);
    padding: 30px;
    border-radius: 5px;
}


/* ///////////////////////////////////////////// */
/* Footer */
/* //////////////////////////////////////////// */

footer {
    background-color: var(--primary);
    padding: 20px 50px 10px 50px;
}

footer a, footer p {
    color: white;
    font-weight: lighter;
}

footer .brand {
    color: white;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px;
}

footer .brand img {
    margin-left: 0;
}

footer .left {
    margin-right: auto;
}

footer .left p {
    margin-left: 10px;
    font-size: 16px;
}

footer .right {
    gap: 50px;
    margin-bottom: auto;
}

footer .right ul  {
    margin: 0;
    padding: 0;
    margin-bottom: auto;
}

footer li {
    margin-bottom: 5px;
}

footer h4 {
    margin: 15px 0;
}

.contact {
    height: 40px;
    overflow-y: hidden;
    margin-left: 10px;
}

.contact img {
    width: 24px;
    height: 24px;
}

.socmed {
    width: auto;
    margin-bottom: auto;
    margin-top: 15px;
}

.socmed img {
    margin-right: 10px;
}

footer .loc {
    margin-left: -50px;
    margin-right: -50px;
    justify-content: center;
    margin-top: 10px;
}

footer .loc img {
    height: 18px;
}

footer small {
    color:  white;
    margin-left: 5px;
    font-weight: lighter;
}



/* ///////////////////////////////// */
/* RESPONSIVE */
/* //////////////////////////////// */

@media (min-width: 320px) and (max-width: 600px) {
    .container {
        margin-left: 25px;
        margin-right: 25px;
    }

    input::placeholder {
        font-size: 12px;
    }
    
    nav {
        width: 100vw;
        height: 50px;
    }
    
    nav .brand {
        display: none;
    }
    
    nav ul {
        margin-left: 12px;
        font-size: 12px;
        padding-left: 0;
        margin-right: auto;
        width: max-content;
    }

    nav ul li {
        margin-right: 12px;
    }
    
    .btnLogout {
        font-size: 12px;
        padding: 5px 12px;
        margin-right: 12px;
    }
    
    
    /* //////////////////////////////////////////// */
    /* Hero */
    /* /////////////////////////////////////////// */
    
    .hero {
        margin-top: 50px;
        margin-bottom: 0;
    }
    
    .heroImg {
        display: none;
    }

    .textHero {
        width: 90%;
        margin-top: 0;
        margin-left: 15px;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    .textHero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    
    .textHero h6 {
        font-size: 14px;
        line-height: 22px;
        width: 90%;
        margin-bottom: 20px;
    }
    
    .searchBox {
        width: 70%;
        height: 30px;
    }
    
    .searchBox input {
        padding: 6px;
    }
    
    .btnSearch {
        height: 26px;
        width: 15%;
    }

    .btnSearch img {
        transform: scale(0.8);
    }

    .decore img {
        width: 25px;
        height: 25px;
    }

    .decore .decore1 {
        right: 40px; 
        top: 120px;
    }
     
    .decore .decore2 {
        right: 20px; 
        top: 200px; 
    }
     
    .decore .decore3 {
        right: 60px; 
        top: 280px; 
    }
    
    
    /* /////////////////////////////////////////// */
    /* Why should OiKitchen? */
    /* /////////////////////////////////////////// */
    
    #advantages {
        margin-top: 0px;
        margin-bottom: 0;
    }
    
    #advantages h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 15px;
        overflow-y: hidden;
    }
    
    .advContent {
        width: 100%;
        margin-left: 15px;
    }
    
    .advImg {
        display: none;
    }
    
    .listAdv {
        width: 95%;
        margin-bottom: 10px;
    }
    
    .listAdv img {
        margin-right: 20px;
        width: 20%;
        margin-top: 10px;
        padding: 10px;
    }

    .listAdvItem {
        width: 75%;
    }
    
    .listAdvItem h4 {
        padding-right: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .listAdvItem p {
        font-size: 12px;
    }


    
    /* ////////////////////////////////////////// */
    /* How to order */
    /* ////////////////////////////////////////// */
    
    #order {
       margin-top: 20px;
       margin-bottom: 30px;
    }
    
    #order h2 {
        font-size: 24px;    
        margin-bottom: 20px;
    }
    
    .order {
        flex-wrap: wrap;
        width: 60%;
    }

    .order h3 {
        font-size: 12px;
    }

    .orderItem {
        width: 100%;
    }
    
    .orderItem img {
        height: 200px;
        width: 200px;
        background-color: var(--borderline);
        border-radius: 10px;
        padding: 10px;
    }

    .orderArrow {
        width: 30px;
        height: 24px;
        margin-bottom: 10px;
        max-width: 100%;
    }
    
    @keyframes arrow {
        0% {
            transform: scale(1) rotate(90deg);
        }
    
        25% {
            transform: scale(1.3) rotate(90deg);
            background-color: var(--darker);
        }
    
        50% {
            transform: scale(1) rotate(90deg);
            background-color: var(--primary);
        }
    
        75% {
            transform: scale(1.3) rotate(90deg);
            background-color: var(--darker);
        }
    
        100% {
            transform: scale(1) rotate(90deg);
        }
    }
    
    
    /* ///////////////////////////////////////////// */
    /* Menu Categories */
    /* //////////////////////////////////////////// */
    
    #categories {
        margin: 0 15px 15px 15px;
    }
    
    #categories h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    #categories .flex {
        gap: 20px;
    }
    
    .categoriesCard {
        width: 85%;
        height: 300px;
        overflow-y: hidden;
        padding: 2%;
    }
    
    .categoriesCard .cover {
        height: 50%;
    }
    
    .categoriesCard .cover img {
        width: auto;
        margin-top: 5px;
    }
    
    .categoriesCard h3 {
        font-size: 16px;
    }
    
    .categoriesCard h5 {
        font-size: 12px;
    }
    
    .categoriesCard a button, #banner a button {
        font-size: 12px;
        padding: 12px 22px;
        width: max-content;
    }
    
    
    /* //////////////////////////////////////// */
    /* Banner */
    /* /////////////////////////////////////// */
    
    #banner {
        margin: 70px 0;
    }
    
    .bannerLeft img {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
    
    .bannerLeft {
        width: 30%;
        padding: 0;
    }
    
    .bannerLeft h2 {
        font-size: 14px;
    }
    
    .discount {
        font-size: 12px;
    }
    
    .bannerRight {
        width: 70%;
        background-color: var(--borderline);
        padding: 15px;
        border-radius: 0;
    }

    .bannerRight h1 {
        font-size: 20px;
    }

    .bannerRight p, .bannerRight {
        font-size: 12px;
    }
    
    .bannerRight h2 {
        font-size: 18px;
    }
    
    
    /* ///////////////////////////////////////////// */
    /* Footer */
    /* //////////////////////////////////////////// */
    
    footer {
        padding: 15px 20px;
    }

    footer .flex {
        flex-wrap: wrap;
    }
    
    footer .brand {
        margin-top: 0;
        font-size: 16px;
    }
    
    footer .brand img {
        display: none;
    }

    footer .left p {
        font-size: 12px;
    }

    footer .left img {
        width: 16px;
        height: 16px;
    }
    
    footer .right {
        gap: 25px;
        font-size: 12px;
        margin-top: 20px;
    }
    
    footer li {
        margin-bottom: 5px;
        font-size: 12px;
    }
    
    footer h4 {
        margin: 6px 0;
    }
    
    .contact {
        height: max-content;
        margin-left: 0;
    }
    
    .contact img {
        width: 24px;
        height: 24px;
    }
    
    .socmed {
        margin: 0 ;
        margin-bottom: 10px;
    }
    
    .socmed img {
        margin-right: 5px;
        width: 22px;        
        height: 22px;
    }
    
    footer .loc {
        margin-top: 10px;
    }
    
    footer .loc img {
        height: 14px;
    }
    
    footer small {
        font-size: 20px;
    }
}